.card {
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #c7c7c75b;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    
    transform: scale(1) rotateY(0);
    
    img {
      width: 100%;
      height: 100%;
    }
    
    .card-img {
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      &.card-fliped {
        transform: scale(1) rotateY(180deg);
      }
    }
  
    &_flip {
      transform: scale(1.05) rotateY(180deg);
      pointer-events: none;
    }
  
    &_close {
      transform: scale(0);
      pointer-events: none;
    }
  }

  .loader {
    position: absolute;
    text-align: center;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
  }

